
header.jumbotron-fluid {
	background-color: #B3E6DE;
	padding: 2rem;
}

.btn-primary, .btn-primary:hover { 
	background-color: #2A6F7E; 
	border-color: #2A6F7E;
}
.btn-primary { opacity: 0.9; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { opacity: 1.0; }

a, a:visited, .btn-link {
	/*color: #61dafb;*/
	color: #2A6F7E;
}

ul { margin-left: 0; padding: 0; }

ul.studentList li { 
	background: #B3E6DE; 
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
}

ul.studentList li:nth-child(odd) { 
	background: #EACDEE; 
}

section ul.nav .welcome-nolink span, section ul.nav button {
	display: block;
	padding: .5rem 1rem;
}

/* colors
* lilac #9CA2DE
* mint green #B3E6DE
* teal #2A6F7E
* pink #EACDEE
*/